<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Wholesale>
            <version>2.1.2</version>
        </Ewall_Wholesale>
    </modules>
    <frontend>
		<events>
            <catalog_product_get_final_price>
                <observers>
                    <wholesale>
                        <class>wholesale/observer</class>
                        <method>processFrontFinalsPrice</method>
                    </wholesale>
                </observers>
            </catalog_product_get_final_price>
            <catalog_product_get_finals_price>
                <observers>
                    <wholesale>
                        <class>wholesale/observer</class>
                        <method>processFrontFinalsPrice</method>
                    </wholesale>
                </observers>
            </catalog_product_get_finals_price>
            <catalog_product_collection_load_after>
				<observers>
					<wholesale>
						<type>model</type>
						<class>wholesale/observer</class>
						<method>processListPageFinalPrice</method>
					</wholesale>
				</observers>
			</catalog_product_collection_load_after>
        </events>
        <routers>
            <wholesale>
                <use>standard</use>
                <args>
                    <module>Ewall_Wholesale</module>
                    <frontName>wholesale</frontName>
                </args>
            </wholesale>
        </routers>
        <layout>
            <updates>
                <wholesale>
                    <file>wholesale.xml</file>
                </wholesale>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<wholesale>
				<use>admin</use>
				<args>
					<module>Ewall_Wholesale</module>
					<frontName>wholesale</frontName>
				</args>
			</wholesale>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<wholesale>
					<file>wholesale.xml</file>
				</wholesale>
			</updates>
		</layout>
		<events>
			<catalog_product_save_after>
				<observers>
					<ewall_wholesale_model_observer>
						<type>singleton</type>
						<class>ewall_wholesale_model_observer</class>
						<method>catalogProductSaveAfter</method>
					</ewall_wholesale_model_observer>
				</observers>
			</catalog_product_save_after>
			<catalog_product_import_finish_before>
				<observers>
					<ewall_wholesale_model_observer>
						<type>singleton</type>
						<class>ewall_wholesale_model_observer</class>
						<method>catalogProductSaveAfter</method>
					</ewall_wholesale_model_observer>
				</observers>
			</catalog_product_import_finish_before>
			<catalog_product_delete_after_done>
				<observers>
					<ewall_wholesale_model_observer>
						<type>singleton</type>
						<class>ewall_wholesale_model_observer</class>
						<method>catalogProductDeleteAfter</method>
					</ewall_wholesale_model_observer>
				</observers>
			</catalog_product_delete_after_done>
			<catalog_category_tree_move_after>
				<observers>
					<ewall_wholesale_model_observer>
						<type>singleton</type>
						<class>ewall_wholesale_model_observer</class>
						<method>catalogProductSaveAfter</method>
					</ewall_wholesale_model_observer>
				</observers>
			</catalog_category_tree_move_after>
		</events>
    </adminhtml>   
    <global>
        <models>
            <wholesale>
                <class>Ewall_Wholesale_Model</class>
                <resourceModel>wholesale_mysql4</resourceModel>
            </wholesale>
            <wholesale_mysql4>
                <class>Ewall_Wholesale_Model_Mysql4</class>
                <entities>
                    <wholesale>
                        <table>wholesale</table>
                    </wholesale>
                    <product>
                        <table>wholesale_products</table>
                    </product>
                </entities>
            </wholesale_mysql4>
			<catalog>
				<rewrite>
					<product_type_price>Ewall_Wholesale_Model_Product_Type_Price</product_type_price>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <wholesale_setup>
                <setup>
                    <module>Ewall_Wholesale</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wholesale_setup>
            <wholesale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wholesale_write>
            <wholesale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wholesale_read>
        </resources>
        <blocks>
            <wholesale>
                <class>Ewall_Wholesale_Block</class>
            </wholesale>
        </blocks>
        <helpers>
            <wholesale>
                <class>Ewall_Wholesale_Helper</class>
            </wholesale>
        </helpers>
    </global>
</config>
