.icon { background:url(../images/icons.png) no-repeat; }
.inner_links .list-unstyled a:before,
.inner_links .list-unstyled li a:hover:before,
.header-container .toolbar-switch:hover .toolbar-dropdown,
.block-subscribe button.button span span,
.block-subscribe button.button:hover span span,
.view-mode .grid, .view-mode .list,
.link-wishlist, .add-to-links li a,
.block-wishlist .link-cart,
button.button.btn-cart,
.product-view-detail button.button.btn-cart-detail:before,
.csslider a.next,
.csslider a.prev,
.pager .pages li a.previous, 
.pager .pages li a.next,
.emtabs .csslider a.prev:hover,
.product-view .product-shop .availability,
.product-view .product-shop .sku,
.product-view .product-shop .email-friend,
.product-view .product-shop .no-rating .r-lnk:before,
.mega-menu .vnav .menu-item-depth-0 .icon-menu,#em_quickshop_handler span,#em_quickshop_handler:hover span {
background-image:url(../images/icons.png)
}
.emtabs .csslider a.next, .emtabs .csslider a.prev{ top:-30px;}
.category-grid .item-category a:hover,
.em_blog-cat li.parent.current li.current > a, 
.em_blog-cat li.parent ul li a:hover, 
.block-account .block-content li a:hover, 
.block-account .block-content li.current strong{ background-image:url(../images/list-style1.png)}
.tp-bullets.simplebullets.round .bullet{ background-image:url(../images/bullet.png)!important}



/*block category*/
.featured_category_content{ padding:12px 10px 13px}
.category-grid{ overflow:hidden}
.category-grid .item-category{ float:left; clear:both}
.category-grid .item-category a{ padding:4px 0 5px 15px; display:inline-block}
.category-grid .item-category .cate_name{ margin-bottom:0}

/*layout*/
.inner_menu_slideshow .container{ padding:0}
.cms-index-index .menuleft #menu-default{ position:absolute; width:280px}
.four_ads{ margin-top:39px}
.wrapper_main .inner_main > .row > .em_area03{ margin-bottom:17px}

.cms-index-index .em_col_main .horizontal.csslider ul.slides > li{ width:278px}

.em_col_main .products-grid li.item .big-img img{ width:auto}
.em_col_main .products-grid li.item .big-img > .product-image{ float:left; margin-right:20px}
.em_col_main .products-grid li.item .big-img .block-related{ float:left; margin-right:0}
.em_col_main .products-grid li.item .big-img .block-related .product-image-custom{ margin-bottom:17px}
.em_col_main .special_slider .products-grid li.item{ margin-right:0px; background:none}
.em_col_main .special_slider .products-grid li.item:hover{ box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;}
.em_col_main .special_slider .products-grid li.item .product-shop{ padding:0 0 10px}
.em_col_main .special_slider .products-grid li.item .product-name{ margin-bottom:18px}
.em_col_main .special_slider .products-grid .product-shop .price-box{ margin-bottom:8px}

.em_col_main .special_slider .products-grid li.item button.button.btn-cart{ position:relative; background-position:right bottom !important; border-bottom-width:3px}
.em_col_main .special_slider .products-grid li.item button.button.btn-cart span{ text-indent: 0;text-transform: uppercase;font-weight: bold;}
.em_col_main .special_slider .products-grid li.item button.button.btn-cart span span{ text-indent: 0; padding: 4px 20px 3px 50px; text-transform: uppercase;font-weight: bold; min-height:26px}
.em_col_main .special_slider .products-grid li.item button.button.btn-cart:before{ width:30px !important; height:30px !important; background:url(../images/icons.png) 4px -433px no-repeat; content:""; position:absolute; top:-1px; left:-1px; border:1px solid; border-bottom-width:3px; border-right-width:0}
.container.container_main_bottom .row{ margin:0}
.container.container_main_bottom .row .em_area13{ padding:0}
.container.container_main_bottom{ width:100%; padding:0}
@media (min-width: 1200px) {
	.cms-index-index .menuleft #menu-default{ width:280px}
}
.wiget-slider-home .products-grid li.item{ margin-bottom:0;padding-bottom:0; border-bottom:0}
.wiget-slider-home .products-grid li.item:hover{ border:0 none!important;}
.main_container .widget-slider-home li.item .product-shop .actions-cart{ display:block; text-align:left;}
.main_container .widget-slider-home li.item:hover .product-shop .actions-cart{ display:block; position:relative; left:0;text-align:left;}
