.icon { background:url(../images/icons.png) no-repeat; }
.inner_links .list-unstyled a:before,
.inner_links .list-unstyled li a:hover:before,
.header-container .toolbar-switch:hover .toolbar-dropdown,
.block-subscribe button.button span span,
.block-subscribe button.button:hover span span,
.view-mode .grid, .view-mode .list,
.link-wishlist, .add-to-links li a,
.block-wishlist .link-cart,
button.button.btn-cart,
.product-view-detail button.button.btn-cart-detail:before,
.csslider a.next,
.csslider a.prev,
.pager .pages li a.previous, 
.pager .pages li a.next,
.emtabs .csslider a.prev:hover,
.product-view .product-shop .availability,
.product-view .product-shop .sku,
.product-view .product-shop .email-friend,
.product-view .product-shop .no-rating .r-lnk:before,
.mega-menu .vnav .menu-item-depth-0 .icon-menu,#em_quickshop_handler span,#em_quickshop_handler:hover span {
background-image:url(../images/icons.png)
}

.emtabs .csslider a.next, .emtabs .csslider a.prev{ top:-30px;}
.em_blog-cat li.parent.current li.current > a, 
.em_blog-cat li.parent ul li a:hover, 
.block-account .block-content li a:hover, 
.block-account .block-content li.current strong{ background-image:url(../images/list-style1.png)}
.tp-bullets.simplebullets.round .bullet{ background-image:url(../images/bullet.png)!important}

/*layout*/
.inner_menu_slideshow .container{ padding:0}
.cms-index-index .wrapper_main .main_container{ padding-top:20px}
.four_ads{ margin-top:0}
.banner-content{ margin-top:22px;}
.em_col_content .banner-content{ padding-bottom:12px}
.cms-index-index .em_col_main{ margin-bottom:0}
.box_banner{ padding:25px 0 0px}
.box_banner .content{ padding-bottom:14px}
.wrapper_main .inner_main > .row > .em_area03{ margin-bottom:0}
.em_area15 .col-sm-8{ margin-bottom:20px}
.cms-index-index .em_col_main  .horizontal.csslider ul.slides > li{ margin-right:37px}

@media (min-width: 1200px) {
	.cms-index-index .menuleft #menu-default{ width:280px}
}


